name = "hop"
main = "src/index.ts"
compatibility_date = "2024-12-11"

[build]
command = "bun build src/index.html --outdir dist --minify"

[observability]
enabled = true

[[routes]]
pattern = "hop.dunkirk.sh"
custom_domain = true

[[kv_namespaces]]
binding = "HOP"
id = "ae7cd39a622b466d876b8410d22d1397"

[vars]
AUTH_PASSWORD = "changeme"
API_KEY = "your-api-key-here"

[[rules]]
type = "Text"
globs = ["**/*.html"]
fallthrough = false
